<!-- Header -->
<header>
  <div class="container">

    <!-- <h1>Mert Arkın</h1> -->
     
    <!-- <p class="me">Mert Arkın</p> -->

    <!-- <p class="me"><a href="../../index.html">Mert Arkın</a></p> -->
    <!-- <p class="me"><a href="./">Mert Arkın</a></p> works why> -->

    <!-- use only in index html to bypass github pages behaviour when hosting -->
    <!-- doesnt work works why ??? <p class="me"><a href="./">Mert Arkın</a></p> use for when hosting at on github pages -->

    <p class="me"><a href="#">Mert Arkın</a></p> 

    <!-- <p class="me"><a href="../../index.html">Mert Arkın</a></p> --> <!--use for when hosting at on locally http://127.0.0.1:5500/ -->

    <!-- <p class="me"><a href="https://mertarkin.github.io/my-website/index.html">Mert Arkın</a></p> -->

  </div>
</header>